<div class="answers">
  <div class="faqs-header">
    <div><img src="assets/me.JPG"></div>
    <h1>Hi, I'm Justin Doak</h1>
    <div id="contact">
      <h6>Get in touch:</h6>
      <%= link_to "Website", "https://www.jhdoak.com", :target => "_blank" %><span>  |  </span>
      <%= link_to "Email", "mailto:justin@jhdoak.com" %><span>  |  </span>
      <%= link_to "GitHub", "https://github.com/jhdoak", :target => "_blank" %><span>  |  </span>
      <%= link_to "LinkedIn", "https://www.linkedin.com/in/jhdoak", :target => "_blank" %><span>  |  </span>
      <%= link_to "Twitter", "https://twitter.com/justin_doak", :target => "_blank" %>
    </div>
  </div>

  <div id="all-faqs" class="clearfix">
    <div class='grid-sizer'></div>
    <% @faqs.each do |faq| %>
      <div class="faq">

        <div class="question">
        <%= faq.question %>
        </div>

        <div class="answer-1">
        &nbsp;&nbsp;&nbsp;<%= faq.answer_1 %>
        </div>

        <% if faq.answer_2 %>
          <div class="answer-2">
            &nbsp;&nbsp;&nbsp;<%= faq.answer_2 %>
          </div>
        <% end %>

        <% if faq.answer_3 %>
          <div class="answer-3">
            &nbsp;&nbsp;&nbsp;<%= faq.answer_3 %>
          </div>
        <% end %>

        <% if current_user && current_user.admin? %>
          <%= link_to "Edit Answer", edit_faq_path(faq) %>
        <% end %>
      </div>
    <% end %>
  </div>

  <footer>
    <%= link_to 'Back to Bacon', root_path %>
    <span> | </span>
    <%= link_to 'See the Map', map_path %>
  </footer>

</div>
