<div class="answers">
  <header>
    <div><img src="assets/me.JPG"></div>
    <h1>Hi, I'm Justin Doak</h1>
    <div id="contact">
      <h6>Get in touch:</h6>
      <%= link_to "Website", "https://www.jhdoak.com", :target => "_blank" %>
      <%= link_to "Email", "mailto:justin@jhdoak.com" %>
      <%= link_to "GitHub", "https://github.com/jhdoak", :target => "_blank" %>
      <%= link_to "LinkedIn", "https://www.linkedin.com/in/jhdoak", :target => "_blank" %>
      <%= link_to "Twitter", "https://twitter.com/justin_doak", :target => "_blank" %>
    </div>
  </header>

  <div id="all-faqs" class="clearfix">
    <div class='grid-sizer'></div>
    <% @faqs.each do |faq| %>
      <div class="faq">

        <div class="question">
        <%= faq.question %>
        </div>

        <div class="answer">
        <%= faq.answer %>
        </div>

        <% if faq.more_info %>
          <div class="more-info">
            <%= faq.more_info %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <footer>
    <%= link_to 'Back to Bacon', root_path %>
  </footer>

</div>
